header { display: grid; grid-template-columns: 20% auto 20%; padding: 1.5em 6em; }

.nav__bar { display: flex; align-items: center; column-gap: 2em; }

.nav__bar-link, .login { text-decoration: none; font-size: 16px; color: var(--cinza); font-weight: 500; }

.login__cadastro { display: flex; justify-content: flex-end; align-items: center; column-gap: 2em; }

.cadastro { text-decoration: none; color: var(--branco); background: var(--vermelho); padding: .7em 1.1em; border-radius: 10px; }