.card {
    width: 55%;
    margin: 0 auto;
}

.card__titulo {
    font-size: 20px;
    font-weight: 500;
    color: var(--preto);
    margin: 3em 0 2em;
}

.vaga {
    border: 1px solid var(--cinza-claro);
    margin-bottom: 1em;
    padding: 1.5em;
    border-radius: 16px;
}

.vaga__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--preto);
    margin-bottom: 2em;
}

.informacoes {
    font-size: 16px;
    color: var(--cinza);
}

.informacoes span {
    margin-right: 1.2em;
}